.load-more-button-container{
    .load-more-button {
        display: flex;
        justify-content: center;
        align-items: center;
        input {
            width: 150px;
            margin-top: 20px;
            min-height: 42px;
            border: 2px solid var(--line-gray-color);
            background-color: var(--music-dashboard-background-color);
            border-radius: 4px;
            font-size: 14px;
            color: var(--white-color);
            cursor: pointer;
        }
    }
}