.sounds-container {
  padding: 40px;
  .sounds-navigation {
    .first-navigation {
      color: var(--orange-color);
    }
    display: flex;
    align-items: center;
    justify-self: flex-start;
    a {
      text-decoration: none;
      font-size: 24px;
      color: var(--white-color);
      margin-right: 15px;
    }
  }
  .sounds-samples {
    margin-top: 20px;
    .sounds-samples-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: start;
      .new-button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 30px;
        background-color: var(--green-color);
        //background-color: #238636;
        //color: #fff;
        color: #000;
        font-size: 16px;
        font-weight: 700;
        border: 1px solid #000;
        //border: none;
        border-radius: 4px;
        input[type="file"] {
          display: none;
        }
      }
      .new-button:hover {
        background-color: #3bea78;
        //background-color: #2ea043;
      }
    }
    .sound-samples-dashboard {
      border: 1px solid var(--line-gray-color);
      border-radius: 5px;
      .first-sound {
        border-radius: 5px 5px 0px 0px;
      }
      .last-sound {
        border-radius: 0px 0px 5px 5px;
      }
    }
  }
}
