.sounds-samples-row {
  width: 100%;
  .first-td {
    border-radius: 5px 0px 0px 5px;
  }
  .last-td {
    border-radius: 0px 5px 5px 0px;
  }
  .play-pause-button {
    .wave-music-icon {
      width: 20px;
    }
  }
  .sound-infos {
    background-color: transparent;
    // background-color: #19191e;
    margin-right: 20px;
    .sound-infos-div {
      display: flex;
      align-items: center;
      img {
        width: 45px;
        height: 45px;
        margin-right: 20px;
        border-radius: 4px;
      }
      h3 {
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  .sounds-samples-buttons {
    background-color: transparent;
      h4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 45px;
        font-size: 30px;
        color: var(--gray-light-color);
      }
      .like-button-div{
        display: flex;
        justify-content: center;
        align-items: center;
        .like-button {
          width: 20px;
          height: auto;
        }
      }
      .options-button-container{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        .options-button {
          width: 100%;
          height: 20px;
        }
      }
  }
}
